/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light background for contrast */
}

.back{
  justify-content: left;
  height: 4%;
}
/* Swipe container to center everything */
.main-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column; /* Align items vertically */
}


#textFieldQuantityWord{
  margin-left: 5px;
  font-size: 16px;
  align-items: end;
  background: transparent;
  border: transparent;
}


.learn-word {
  margin-top: 20px;
  display: flex; /* Flex-контейнер для управления дочерними элементами */
  flex-direction: column; /* Размещаем элементы по вертикали */
  background-color: transparent;
  width: 100%;
  height: 8%; /* Высота контейнера */
}
.progress-word {
  width: 85%; /* Занимает всю ширину контейнера */
  display: flex;
  align-items: end;
  height: 50%;
  margin-bottom: 10px; /* Отступ снизу */
  background-color: transparent;
  margin: 0 auto;
  
}


.progress-label {
  background: transparent;
  width: 85%; /* Ширина 85% */
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: row; /* Элементы располагаются в ряд */
  margin: 0 auto; /* Центрирует по ширине */
}

#progressPrecent {
  width: 13%; /* Ширина для отображения процентов */
  font-size: 15px;
  border: none;
  background: transparent;
  text-align: center;
  margin-left: 2%; /* Фиксированный отступ между прогресс-баром и процентами */
}

progress {
  width: 85%; /* Ширина прогресс-бара */
}


#progressPrecent:focus {

  border: none; /* Remove border on focus */
  outline: none; /* Optional: remove the focus outline */
}

/* Styling for swipe-block */
.swipe-block {
  width: 85%;
  height: 80%;
  background-color: #fafbfc; /* Light blue background */
  color: black; /* Adjust text color */
  display: none;
  flex-direction: column; /* Align items vertically */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: grab;
  transition: transform 0.5s ease-out, box-shadow 0.3s ease, background-color 0.3s ease, scale 0.2s ease;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-size: 18px;
}



#backButton {
  position: absolute; /* Позволяет точно расположить кнопку */
  top: 10px; /* Отступ сверху */
  left: 10px; /* Отступ слева */
  padding: 8px 16px; /* Внутренний отступ для увеличения размера кнопки */
  font-size: 16px; /* Размер шрифта */
  background-color: #007bff; /* Цвет фона кнопки */
  color: white; /* Цвет текста */
  border: none; /* Убирает границу */
  border-radius: 4px; /* Скругляет углы */
  cursor: pointer; /* Меняет курсор при наведении */
}

.text-block {
  background: transparent;
  flex-direction: column; 
  height: 40%;
  display: flex; /* Включаем Flexbox */
  padding: 10px;
}

.buttons-group{
  height: 10%;
}

.image-block{
  background: transparent;
  width: 100%;
  height: 50%; 
}

#image{
  position:relative;
  font-size: 16px;
  background-color: #929492; 
  color: #fafbfc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#textNewWordField {
  margin-top: 3%;
  display: flex;
  height: 15%; /* Takes 90% of the container's width */
  width: 95%;
  margin-left: 5%;
  border: none; /* Remove border */
  background: transparent;
  align-self: flex-start; /* Закрепить элемент вверху контейнера */
}

#textFolderField{
  width: 95%;
  margin: 2%;
  height: 15%;
  border: none; /* Remove border */
  background: transparent;
  color: #6a6969;
}

#textField {
  display: flex; 
  font-size: 16px;
  margin-left: 5%;
  width: 95%;
  background: transparent;
  border: none; /* Remove border */
  border-radius: 4px;
  height: 25%; /* Takes 90% of the container's width */
  color: #333; /* Text color */
  font-family: Arial, sans-serif; /* Ensures text looks clean */
}


.translation {
  height: 25%; 
  width: 100%;
  display: flex; /* Flex-контейнер */
  flex-direction: column; /* Элементы по вертикали */
  justify-content: center; /* Центрируем по вертикали */
  align-items: center; /* Центрируем по горизонтали */
  position: relative; /* Для возможных внутренних настроек */
}


#showButton {
  position: relative; /* Сброс позиции */
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  height: 70px; 
  width: 70px;
  background-color: #6a6969;
  color: #fff; /* Светлый цвет текста для контраста */
  font-family: Arial, sans-serif;
}

#textFieldTranslation {
  font-size: 16px;
  background: transparent;
  text-align: center;
  height: 100%;
  width: 100%;
  border: none;
  display: none;
  border-radius: 4px;
  color: #181313;
  font-family: Arial, sans-serif;
}

#textNewWordField:focus {

  border: none; /* Remove border on focus */
  outline: none; /* Optional: remove the focus outline */
}

#textFolderField:focus {
  border: none; /* Remove border on focus */
  outline: none; /* Optional: remove the focus outline */
}

#textField:focus {
  border: none; /* Remove border on focus */
  outline: none; /* Optional: remove the focus outline */
}

#textFieldTranslation:focus {
  border: none; /* Remove border on focus */
  outline: none; /* Optional: remove the focus outline */
}






#textFieldGoodJob {
  position: absolute;
  top: 50%; /* Центрируем по вертикали */
  left: 50%; /* Центрируем по горизонтали */
  transform: translate(-50%, -100%); /* Сдвигаем на 50% ширины и высоты для точного центрирования */

  font-size: 16px;
  border: none; /* Убирает границу */
  height: auto; /* Высота будет подстраиваться по содержимому */
  color: #333; /* Цвет текста */
  font-family: Arial, sans-serif; /* Шрифт */
  display: block; /* Делает элемент блочным, чтобы текст мог быть центрирован */
  text-align: center; /* Центрирует текст внутри элемента */
  
  /* Разрешаем перенос слов */
  word-wrap: break-word; /* Для старых браузеров */
  overflow-wrap: break-word; /* Для новых браузеров */
  white-space: normal; /* Позволяет переносить текст на несколько строк */
  display: none;
}


#know_word, #not_know_word {
  position: absolute;
  width: 50%;
  bottom: 0px; /* Adjust the bottom space as needed */
  height: 50px; /* Adjust the height as needed */
  padding: 0 20px; /* Adjust padding for the button */
  font-size: 14px;
  background: transparent;
  border: none;
  border-radius: 10px;
}

#know_word {
  right: 50%; /* Position the button at 25% of the width */
}

#not_know_word {
  left: 50%; /* Position the button at 25% of the width from the right */
}

#know_word:hover {
    background-color: rgb(30, 152, 14); /* Change background to red when hovered or clicked */
  
}

#not_know_word:hover{
    background-color: rgb(227, 47, 47); /* Change background to red when hovered or clicked */
}

#know_word, #not_know_word {
  background-color: #fafbfc
}