* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 100%;
  padding: 20px;
  background: transparent;
  border-radius: 8px;
}

.button-container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  position: absolute; /* Position relative to its closest positioned ancestor */
  top: 50%; /* Move the container halfway down */
  left: 50%; /* Move the container halfway across */
  transform: translate(-50%, -50%); /* Adjust to perfectly center */
  height: 30%;
  width: 95%;
  background: transparent;
  gap: 10px;
}

button {
 
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

#toggleListButton, #learnNewWordButton, #repeatWordButton {
  background-color: #007bff;
  color: white;
  width: 100%;
  height: 30%;
}

#saveButton {
  background: transparent;
  color: #007bff;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#saveButton.hidden {
  display: none;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  background: transparent;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: auto;
  position: absolute;
  top: 60px;
  width: 90%;
}

ul li {
  display: flex;
  flex-direction: row-reverse;
  overflow-y: auto;
  justify-content: space-between;
  align-self: flex-start;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

ul li:last-child {
  border-bottom: none;
}

.hidden {
  display: none;
}
